.round-button {
    -fx-background-radius: 50em;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
}

.button-new {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-background-radius: 5;
}
.panel {
    -fx-background-color: rgb(255, 255, 255);
}
.text-input .prompt-text {
    -fx-text-fill: black;
    -fx-border-width: 1px;
}
.label_under:hover {
    -fx-underline: true; /* Hiển thị gạch chân khi rê chuột vào */
}
.button-log {
    -fx-padding: 1 150 1 1 ; /* Padding: top right bottom left */
    -fx-background-color: #6951ff;
}