.round-button {
    -fx-background-radius: 50em;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
}
.button-sign-up {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-underline: true;
}
.panel {
    -fx-background-color: rgb(255, 255, 255);
}
.grey-background {
    -fx-border-color: black;
    -fx-background-color: #f2f2f2;
}
.text-input .prompt-text {
    -fx-text-fill: black;
    -fx-border-width: 1px;
}
.label_under:hover {
    -fx-underline: true;
}
.button-log-in {
    -fx-background-color: #6951ff;
}
.white-background {
    -fx-background-color: white;
}
.button-create {
    -fx-background-color: #6951ff;
    -fx-border-width: 0;
    -fx-background-radius: 5;

}